<nav class="collapse navbar sticky-top navbar-expand-md" id="collapsibleNavbar">
  <div class="container-fluid justify-content-end justify-content-md-between px-md-3 px-4 bule">
    <!-- Navbar cross button -->
    <a class="text-right px-4 py-3 mobile-only navbar-cross" data-toggle="collapse" href="#collapsibleNavbar" role="button" aria-expanded="false" aria-controls="collapsibleNavbar" >
      <i class="fas fa-times"> </i>
    </a>

    <!-- Navbar links -->
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% if this_User_num != admin_number %}
          <li class="nav-item">
            <a class="nav-link" href="/#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contus">Contact Us</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/volunteer_list">Volunteers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>

        {% if this_User %}
        <li class="nav-item">
          <a class="nav-link" href="/my_raised_request">My Issue</a>
        </li>
        {% endif %} 
        {% if this_User_num == admin_number %}
        <li class="nav-item">
          <a class="nav-link" href="/pending_raised_issue">Pending Issues</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/solved_raised_issue">Solved Issues</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/add_blog">Write Blog</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if this_User %}

        <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-user"></i> {{this_User}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" style="color:#f2f2f2"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><i class="fas fa-user-plus"></i> Signup</a>
        </li>

        {% endif %}
      </ul>
    </div>

  </div>
</nav>

