*{
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff !important;
  font-family: 'Lora', serif;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}
/* scroll up*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn img {
  height: 5vh;
  width: 5vh;
}

#myBtn:hover {
  background-color: none;
}

/*Navbar*/

.navbar {
  background-color: #e1701a;
  box-shadow: 0 0px 3px #f6993b;
}
.nav-item {
  /* border: 1px solid black; */
  padding: 0 10px;
  color: white;
  border-radius: 10px;
}
.nav-item a:hover {
  background-color: #f7a440;
  border-radius: 10px;
  color: black !important;
  transition-duration: 700ms;
}
.nav-item a {
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}
.navbar-dark .nav-item a:hover {
  background-color: #e1701a;
  color: white;
}
.nav-link {
  line-height: normal;
}
.navbar-toggler-icon .fa-navicon {
  color: whitesmoke;
  font-size: 28px;
}
.dropdown-menu {
  border: 0;
  background-color: #e1701a;
  position: absolute;
  margin: 0;
}
.dropdown-item {
  padding: 0.3rem 0;
  text-align: center;
}
.mobile-only {
  display: none;
}

.divs {
  display: flex;
}

/*header*/

.header {
  /* border: 1px solid blueviolet; */
  background-color: white;
  display: flex;
}

#header-logo-image {
  width: 100%;
  max-width: 80px;
}
.header-title-wrapper {
  padding-left: 0;
}
.header-title,
.header-sub-title {
  color: #e1701a;
  padding: 0;
  margin: 0;
}
.header-title {
  font-size: 1.85rem;
  font-weight: 900;
  font-family: Trebuchet MS, serif;
}
.header-sub-title {
  font-size: 1rem;
  font-weight: 600;
  font-family: Trebuchet MS, serif;
}

.extra-link {
  color: #e1701a;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0.3em;
}

/*footeer*/

.footers {
  background-color: #eeeeee;
  margin-top: 2rem;
  padding-bottom: 10px;
}
.footers h5 {
  color: #f86b0d;
  font-weight: bold;
  font-size: 28px;
}
#fp {
  color: black;
  font-size: 22px;
}
.list-unstyled li a {
  color: black;
  font-size: 20px;
}
.copyright {
  background-color: #0f1123;
}
.text-muted {
  float: right;
  font-size: 15px;
  color: #a0c1b8;
}

.social-icons a {
  font-size: 1.5rem;
  padding: 12px;
}

.fours a :hover,
a:active,
a:status {
  text-decoration: none !important;
  color: #f86b0d;
}

#social-em {
  color: #f86b0d;
  font-size: 1.6rem;
}
#social-em:hover {
  color: #810000;
}
.googlemap {
  width: 100%;
}
/* remove blue from anchor tag */
/* .bule a, */

.bule a:hover {
  text-decoration: none;
  color: #f88132;
}

@media (max-width: 767px) {
  .nav-item {
    position: static;
  }
  .dropdown > a:hover,
  .dropdown-menu > .dropdown-closer:hover {
    color: whitesmoke;
    background-color: transparent;
  }
  .navbar-nav .dropdown-menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50vw, -50%);
    transition: transform 0.5s;
    width: 100vw;
    padding: 0 25%;
    max-height: 80vh;
    overflow-y: scroll;
  }
  .dropdown-menu.show {
    transform: translate(-50%, -50%);
  }
  .dropdown-closer {
    font-weight: bold;
  }
  .dropdown-item {
    font-size: 1.1rem;
  }
}
@media (min-width: 767.98px) {
  .collapse.navbar {
    display: block;
  }
  .nav-item.dropdown:hover .dropdown-menu,
  .dropdown-menu.show {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
  }
}
@media (min-width: 1217px) {
  .nav-item.dropdown:hover .dropdown-menu,
  .dropdown-menu {
    width: 10%;
  }
}
@media (max-width: 770px) {
  .footers-three {
    padding-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .navbar {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh !important;
    overflow: hidden;
    transition: width 0.35s ease;
    padding: 0;
    display: flex !important;
  }
  .navbar > .container-fluid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
  }
  .navbar.collapsing,
  .navbar.show {
    width: 100vw;
  }
  .navbar-cross {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-collapse {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media (max-width: 767.98px) {
  .mobile-only {
    display: block;
  }
  .header {
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-logo-image-wrapper {
    display: block;
    width: 50%;
    max-width: 200px;
    margin: auto;
  }
  #header-logo-image {
    max-width: unset;
    width: 100%;
  }
  .extra-link {
    font-size: 1.5rem;
  }
  .menu-hamburger-mobile,
  .scroll-down-mobile {
    font-size: 24px;
    color: #e1701a;
  }
  .menu-hamburger-mobile {
    color: #e1701a;
  }

  .navbar-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #e1701a;
    z-index: 1019;
    transform: translateY(-120%);
    transition: transform 0.6s;
  }
  .navbar-sticky.visible {
    transform: translateY(0);
  }
  .navbar-sticky > .menu-hamburger-mobile {
    color: white;
  }
}

@media (max-width: 767.98px) {
  .social-icons a {
    font-size: 1rem;
    padding: 12px;
  }

  #fp {
    font-size: 14px;
  }
  .list-unstyled li a {
    font-size: 14px;
  }

  .text-muted {
    font-size: 15px;
  }
}
/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC') */

@media (max-width: 900px) and (min-width: 770px) {
  .col5 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
/* media query for footer */
@media (max-width: 650px) {
  .foot {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* tables style */


/* for tables*/
.tab {
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.tab th {
  background: rgb(252, 176, 35);
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 34px;
  text-align: center !important;
}
.tab td {
  min-height: 28px;
  text-align: center !important;
}
.tab td,
.tab th {
  padding: 6px;
  border: 1px solid rgb(241, 222, 160);
  text-align: left;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .tab,
  .tab thead,
  .tab tbody,
  .tab th,
  .tab td,
  .tab tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .tab thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tab tr {
    border: 1px solid #ccc;
  }

  .tab td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 40%;
    min-height: 45px;
  }

  .tab td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 35%;
    padding-right: 5px;
    white-space: nowrap;
    background: rgb(252, 176, 35);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 3px;
  }
}
/* button styling*/
.tab .btn-detail {
  border-color: rgb(252, 176, 35);
  border-radius: 10%;
  font-weight: 600;
}
.tab .btn-detail:hover {
  background-color: rgb(252, 201, 35);
}
.tab .btn-status {
  background-color: rgb(4, 250, 4);
  border-color: rgb(21, 214, 21);
  border-radius: 10%;
  font-weight: 600;
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /*
	Label the data of volunteer list for admin
	*/

  .tab #vollistadmin td:nth-of-type(1):before {
    content: 'S/N';
  }
  .tab #vollistadmin td:nth-of-type(2):before {
    content: 'Name';
  }
  .tab #vollistadmin td:nth-of-type(4):before {
    content: 'Profession';
  }
  .tab #vollistadmin td:nth-of-type(3):before {
    content: 'City';
  }
  .tab #vollistadmin td:nth-of-type(6):before {
    content: 'View';
  }
  .tab #vollistadmin td:nth-of-type(5):before {
    content: 'Mob Number';
  }

  /* label for normal user */
  .tab #vollistuser td:nth-of-type(1):before {
    content: 'S/N';
  }
  .tab #vollistuser td:nth-of-type(2):before {
    content: 'Name';
  }
  .tab #vollistuser td:nth-of-type(4):before {
    content: 'Profession';
  }
  .tab #vollistuser td:nth-of-type(3):before {
    content: 'City';
  }


  .tab #my_issue td:nth-of-type(1):before {
    content: 'S/N';
  }
  .tab #my_issue td:nth-of-type(2):before {
    content: 'Issue Subject';
  }
  .tab #my_issue td:nth-of-type(3):before {
    content: 'Date';
  }
  .tab #my_issue td:nth-of-type(4):before {
    content: 'Issue';
  }
  .tab #my_issue td:nth-of-type(5):before {
    content: 'Status';
  }
  .tab #my_issue td:nth-of-type(6):before {
    content: 'Archive';
  }


  .tab #sol_pen_issue td:nth-of-type(1):before {
    content: 'S/N';
  }
  .tab #sol_pen_issue td:nth-of-type(2):before {
    content: 'Name';
  }
  .tab #sol_pen_issue td:nth-of-type(3):before {
    content: 'City';
  }
  .tab #sol_pen_issue td:nth-of-type(4):before {
    content: 'Mob Number';
  }
  .tab #sol_pen_issue td:nth-of-type(5):before {
    content: 'Date';
  }
  .tab #sol_pen_issue td:nth-of-type(6):before {
    content: 'Issue Subject';
  }
  .tab #sol_pen_issue td:nth-of-type(7):before {
    content: 'Issue';
  }

}


/* blog style */

*,
*::before ,
*::after{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.blog{
   
    padding-top:20px;
    width:100%;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   padding: 0 20px;
   padding-bottom: 6px;

}
.blog-post{
	max-width: 500px;
	margin-top: 30px;
     width: 70%;
     max-width: 98rem;
     background-color: #fff;
     padding: 35px;
     box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
     display: flex;
     align-items: center;
     border-radius: .8rem;
}

.blog-post_date span{
	display: block;
	color: rgba(0,0,0,.5);
	font-size: 13px;
	font-weight: 600;
	margin : .5rem 0;
}
.blog-post_title{
	font-size:20px;
	margin:10px 0 10px;
	text-transform: uppercase;
	color: #000000;
}
.blog-post_text{
     margin-bottom: 15px;
     font-size: 15px;
     color: rgba(0,0,0,.7);
}
 .buttons .blog-post_cta{
 	float: left;
	font-family: Arial;
	display: inline-block;
	padding: 10px 14px;
	letter-spacing: 1px;
	color:#000;
	background-image: linear-gradient(to right, #f78e16 0%,  #feae0093 100%);
	border-radius: .8rem;
	text-decoration: none;
}
.buttons .delete{
	float: right;
	font-family: Arial;
	padding: 10px 14px;
	display: inline-block;
	letter-spacing: 1px;
	
	color:#000;
	font-weight: 600;
	background-color: red;
	border-radius: 12px;
	text-decoration: none;
}
.buttons .delete:hover{
	background-color: #be0000;
	transition: .5s;
}
.blog-post_cta:hover {
	background-image: linear-gradient(to right, #feae0093 0%, #f78e16 100%);

}
.blog-post_info{
  width: 100%;
}

@media screen and (max-width: 868px){
	.blog-post {
		padding: 30px;
		flex-direction: column;
		}
	    
	    .buttons .delete{
	    	padding: 10px 20px;
	    }
        .buttons .blog-post_cta{
        	padding: 10px 20px;
        }
}

@media screen and (max-width: 768px){
	.buttons .delete{
	    	padding: 10px 10px;
	    	
	    }
        .buttons .blog-post_cta{
        	padding: 10px 10px;
	    	
        }
        .blog-post {
		padding: 12px;
		flex-direction: column;
		 width: 95%;
		}
    .blog{
			padding:0 2px;
		}
}

/* card section, about us and our work  section of index  */
  

/*card section*/

.card {
  background: rgba(255, 248, 248, 0.3);
  width: 25%;
  height: 75%;
  border-radius: 3%;
  box-shadow: 1px 3px 10px 6px #f6993b;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: transform 1.2s;
  padding: 20px;
}
.card:hover {

  transform: scale(1.05);
  transition: transform 0.6s;
}
.card img {
  width: 97%;
  height: 75%;
  border-radius: 3%;
  margin-left: 1%;
}
.card-btn {
  margin:0 auto;
  width:80%;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #f59929;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.card-btn:hover {
  background: #e1701a;
  text-decoration: none;
}





@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.card-section {
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

/*media query for card section*/
@media (max-width: 750px){
  .card-btn{
    font-size: 16px;
  }
}



@media(min-width:701px){
  .card{
    min-width: 200px;
    margin:auto 10px;
  }
}


@media (max-width: 700px) {
  .card-section {
    width: 100%;
    height: 950px;
    margin: auto;
    flex-direction: column;
    padding: 0 20px;
  }

  .card {

    width: 100%;
    height: 40%;
  }
  .needHelp {
    margin-top: 20px;
  }
}

/*media query our work*/

@media only screen and (max-width: 900px) and (min-width: 770px) {
  .col5 {
    padding-top: 10%;
    padding-bottom: 10%;

  }
}

@media(max-width: 400px){
  
  .card-btn {
    font-size: 16px;
    padding: 1.5%;
    font-weight: 600;
  }
   .card-section {
     width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 10px 10px;
    height: 600px;
  }

  .card {
    padding:auto 0;
    width: 100%;
    height: 40%;
  }
  .needHelp {
    margin-top: 20px;
  }


}

/* about us section styling  */

.about-us {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin:0 auto auto auto;
}

.aheading {
  text-align: center;
  font-size: 2.5rem;
  font-family: Arial;
  font-weight: 800;
  color: #f86b0d;
}
.content {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 400;
  border-radius: 14px;
  box-shadow: 0px 8px 1px rgb(211, 192, 174), 0 5px 20px rgb(192, 172, 134);
}
/*extra styling classes of  our work  */
.dis {
  display: flex;
  flex-wrap: wrap;
}
.main-carousel {
  background-color: #fafafa;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 10%;
}
.cell {
  width: 70%;
  height: 180px;
  /* margin-right: 10px; */

  border-radius: 5px;
  counter-increment: carousel-cell;
}
.cell:before {
  display: flex;
  align-items: center;
  padding-right: 3rem;

  color: white;
}
.main-carousel .cell img {
  width: 90%;
  height: 100%;
}



/* about us section styling  */

/*extra styling classes of  our work  */


@media(max-width: 400px){
  .textp{
    font-size: 15px;
  }
  .col5{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
  }
  .content{
    padding: 15px;
  }
  .about-us {
    padding: 16px 0;
  }
}

/* text-area */
textarea {
  padding: 3%;
  border-color: #909090;
  border-width: thick;
}