{% extends 'signup-login-layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container">
  <h1>Enter Mobile Number</h1>
  <form tabindex="502" method="POST" action="/forgot">
    <div>
      {{render_field(form.mob_num, class_="form-control")}}
    </div>

    <div>
        <button type="submit">Reset Password</button>
    </div>
    
  </form>
  
</div>





{% endblock %}