{% extends 'signup-login-layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container">
  <h1>Enter New Password</h1>
  <form tabindex="502" method="POST" action="/update_password">

    <div>
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div>
        <button type="submit">Update Password</button>
    </div>
    
  </form>
  
</div>





{% endblock %}