{% extends 'signup-login-layout.html' %}

{% block body %}


{% from "includes/_formhelpers.html" import render_field %}



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<div class="container">
  <h1>OTP Verification</h1>

  <form action="/forgot_verify_otp" method="POST" enctype="multipart/form-data">

    <div class="ovf">
      <div class="wrapper">
        <div class="title">
          Registration Form
        </div>
        <div class="form">
           <div class="inputfield">
          
              <label>Enter your OTP</label>
              <input type="text" class="input" name="forgot_otp">
            
           </div>  
          <div class="inputfield">
            <input type="submit" value="Verify" class="btn">
          </div>
        </div>
      </div>
    </div>

  </form>











  <div clas="btn">
    <a href="/resendOTP"><button type="submit" >Resend OTP</button></a>
  </div>

</div>





{% endblock %}