{% extends 'signup-login-layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">



<form tabindex="502" method="POST" action="/forgot">
  <div class="ovf">
    <div class="wrapper">
      {% include 'includes/_messages.html' %}
      <div class="title">
        Enter Mobile Number
      </div>
      <div class="form">

        <div class="inputfield">
          <!--<label>Password</label>-->
          {{render_field(form.mob_num, class_="form-control")}}
       </div>

        <div class="inputfield">
          <input type="submit" value="Reset Password" class="btn">
        </div>

      </div>
    </div>
  </div>
</form>






{% endblock %}