<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab:300" rel="stylesheet"/>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.5/flickity.min.css" rel="stylesheet"/>

    <link rel="shortcut icon" type="image/x-icon" href="/images/devdoot-logo.png" />
    <link href="images/devdoot-logo.png" rel="apple-touch-icon" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.2.2/dist/flickity.min.css"/>
    <title>Devdoot Foundation</title>
  </head>
  <body>
    <div class="navbar-sticky mobile-only text-right py-2 px-4">
      <a class="menu-hamburger-mobile" data-toggle="collapse" ref="#collapsibleNavbar" role="button" aria-expanded="false" aria-controls="collapsibleNavbar"></a>
        <i class="fas fa-navicon"> </i>
      </a>
    </div>
    <div class="container-fluid header py-3 px-md-5 align-items-center">
      <div class="col bule flex-grow-0 mobile-only text-right">
        <a class="menu-hamburger-mobile" data-toggle="collapse" href="#collapsibleNavbar" role="button" aria-expanded="false" aria-controls="collapsibleNavbar">
          <i class="fas fa-navicon"> </i>
        </a>
      </div>
      <div class="row mx-0 px-md-4 align-items-center flex-grow-md-1 flex-grow-0">
        <div class="header-logo col-12 col-md-auto pl-0 pr-0 pr-md-4 mb-3 mb-md-0">
          <a href="index.html" class="header-logo-image-wrapper"> <img src="Div.png" alt="Devdoot-logo" id="header-logo-image"/></a>
        </div>
        <div class=" header-title-wrapper col-12 col-md text-center text-md-left px-4 pl-md-0 pr-md-2 mb-4 mb-md-0">
          <h1 class="header-title mb-2 mb-md-0" style="font-family: 'Trebuchet MS', Arial, sans-serif">
            Vanar Sena
          </h1>
          <h1 class="header-sub-title"><i>Saving Life Saving Humanity </i></h1>
        </div>
        <div class="extra-links-wrapper col-md-auto col-12 px-0 text-center text-md-left bule">
          <a href="/" class="fas fa-home extra-link"></a>
          <a href="/#contus" class="fas fa-phone-alt extra-link"></a>
        </div>
      </div>
    </div>

    
    {% include 'includes/nav.html' %}
    <div >
      {% include 'includes/_messages.html' %} {% block body %}{% endblock %}
    </div>

    <!-- contact us /footer section-->
    <section class="footers pt-pb-3 padt" id="contus">
      <div class="container pt-5">
        <div class="row foot">
          <div class="col-xs-12 col-sm-12 col-md-5 footers-three">
            <h5>Contact Us</h5>
            <ul class="list-unstyled"></ul>
            <div class="footers-info mt-3 bule">
              <p id="fp">
                &nbsp;
                <i style="color: #f86b0d" class="fas fa-phone-alt"> </i> &nbsp;
                011-41098444 <br />
                &nbsp;<i id="social-em" class="fas fa-envelope-square"></i>
                &nbsp;<a href="">info@devdootfoundation.org</a><br />
                &nbsp;
                <i class="fas fa-map-marker-alt" style="color: #f86b0d"></i
                >&nbsp; Devdoot Foundation: 233, <br />
                &nbsp; &nbsp; &nbsp; Block - D, Lucknow-110017 <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; U.P ( India ) <br />
              </p>
            </div>
            <div class="social-icons">
              <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="https://twitter.com/"><i id="social-tw" class="fab fa-twitter fa-2x social"></i></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-7 footers-one">
            <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.2585204680618!2d80.91994811479583!3d26.831728583162512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfc35042a821f%3A0xbc004fbcc44c2106!2sLucknow%20Junction!5e0!3m2!1sen!2sin!4v1621257198521!5m2!1sen!2sin" width="600" height="250"style="border: 0" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- copyright section -->
    <section class="copyright border">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12 pt-3">
            <p class="text-muted">© 2021 Devdoot.org.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- toggle to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="up.png" /></button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/4e16efa13b.js" crossorigin="anonymous"></script>
  </body>
</html>
