{% extends 'signup-login-layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}



<form action="/raise_request" method="POST" enctype="multipart/form-data">
  <div class="ovf">
    <div class="wrapper">
      <div class="title">
        Registration Form
      </div>
      <div class="form">
        <div class="inputfield">
        
            <label>Issue Subject </label>
            <input type="text" class="input" name="issue_subject">
            
        </div>  

          <div class="inputfield">
          
            <label>Issue </label>
            <input type="text" class="input" name="issue">
            
        </div> 

            <div class="inputfield">
              
              <label>City </label>
              <input type="text" class="input" name="city">
              
          </div> 

        <div class="inputfield">
          <input type="submit" value="Register" class="btn">
        </div>
      </div>
  </div>
  </div>

</form>




{% endblock %}