{% extends 'layout.html' %}

{% block body %}


<div class="container" style="background-color:white; padding: 2%; margin-top: 1%; margin-bottom: 2%;">
         
<br>

<form id="pending_issue_search">
    <div class="form-group" style="display: flex; justify-content: space-around;">
      <div>
        <label class="form-label">Name: </label>
        <input type="text" class="form-control" id="filterInput" placeholder="Name" onkeyup="searchinfo()">
      </div>  
      <div>
        <label class="form-label">City: </label>
        <input type="text" class="form-control" id="filterInput1" placeholder="City" onkeyup="searchinfo()">
      </div>
    </div>
</form>
<br>


<table class="tab">
  <thead>
    <tr>
      <th>S/N</th>
      <th scope="col">Name</th>
      <th>City</th>
      <th>Mob Number</th>
      <th>Date</th>
      <th>Issue Subject</th>
      <th>Issue</th>
    </tr>
  </thead>
  <tbody id="volTable">
    {% set val=namespace(value=0) %}
    {% for user in users %}
      {% for request in users[user]['raised_requests']%}
        {% if users[user]['raised_requests'][request]['status'] %}
          {% set val.value=val.value+1 %}
          <tr id="sol_pen_issue">
            <td>{{ val.value }}</td>
            <td>{{ users[user]['name'] }}</td>
            <td>{{ users[user]['raised_requests'][request]['city'] }}</td>
            <td>{{ users[user]['mob_num'] }}</td>
            <td>{{ users[user]['raised_requests'][request]['date'] }}</td>
            <td>{{ users[user]['raised_requests'][request]['issue_subject'] }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal{{ loop.index }}">
                  View
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> {{ users[user]['raised_requests'][request]['issue_subject'] }} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="text-align: left;">
                        {{ users[user]['raised_requests'][request]['issue'] }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>


  
</div>

<script>
    const searchinfo = () => {
        let filter=document.getElementById('filterInput').value.toUpperCase();
        let filter1=document.getElementById('filterInput1').value.toUpperCase();
        console.log(filter)
        console.log(filter1)

        let t_body = document.getElementById('volTable');
        let Prequest_info=t_body.getElementsByTagName('tr');
        for (var i=0 ; i<Prequest_info.length ; i++)
        {

            var t_n=Prequest_info[i].getElementsByTagName('td')[1];
            var t_name=(t_n.textContent||t_n.innerHTML);

            var t_s=Prequest_info[i].getElementsByTagName('td')[2];
            var t_city=(t_s.textContent||t_s.innerHTML);

            
            if (t_city.toLocaleUpperCase().indexOf(filter1) > -1) {
                if (t_name.toLocaleUpperCase().indexOf(filter) > -1) {
                    Prequest_info[i].style.display = ''
                } else {
                    Prequest_info[i].style.display = 'none'
                }
            } else {
                Prequest_info[i].style.display = 'none'
            }
            
        }
    }
</script>


{% endblock %}
